In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Using cached pandas-3.0.0-cp314-cp314-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=2.3.3 in C:\Users\kolap\AppData\Roaming\Python\Python314\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in C:\Users\kolap\AppData\Roaming\Python\Python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in C:\Users\kolap\AppData\Roaming\Python\Python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in C:\Users\kolap\AppData\Roaming\Python\Python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-3.0.0-cp314-cp314-win_amd64.whl (9.9 MB)
Installing collected packages: pandas
Successfully installed pandas-3.0.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [5]:
url="solar_power_output.csv"

In [6]:
df=pd.read_csv(url)

In [7]:
df

     temperature   humidity  solar_irradiance  wind_speed  solar_power_output
0      19.363503  75.852937        266.619636    5.190818          128.101772
1      33.767858  62.887709        587.710853    4.791819          290.911789
2      28.299849  44.762209        885.651252    0.256421          442.336390
3      24.966462  85.103602        759.002398    3.412478          380.261988
4      13.900466  74.778494        825.905033    3.801956          415.931953
..           ...        ...               ...         ...                 ...
495    18.833806  27.326566        701.391519    6.569552          352.480220
496    24.591403  93.385086        657.541311    9.566146          326.834297
497    11.943366  30.945490        517.144639    0.689580          259.133251
498    34.359870  96.018988        441.807202    0.570547          223.778239
499    34.655269  55.680462        877.000285    2.821871          435.410369

[500 rows x 5 columns]

In [8]:
df.head(5)

   temperature   humidity  solar_irradiance  wind_speed  solar_power_output
0    19.363503  75.852937        266.619636    5.190818          128.101772
1    33.767858  62.887709        587.710853    4.791819          290.911789
2    28.299849  44.762209        885.651252    0.256421          442.336390
3    24.966462  85.103602        759.002398    3.412478          380.261988
4    13.900466  74.778494        825.905033    3.801956          415.931953

In [9]:
df.tail(5)

     temperature   humidity  solar_irradiance  wind_speed  solar_power_output
495    18.833806  27.326566        701.391519    6.569552          352.480220
496    24.591403  93.385086        657.541311    9.566146          326.834297
497    11.943366  30.945490        517.144639    0.689580          259.133251
498    34.359870  96.018988        441.807202    0.570547          223.778239
499    34.655269  55.680462        877.000285    2.821871          435.410369

In [10]:
df.shape

(500, 5)

In [11]:
df.columns

Index(['temperature', 'humidity', 'solar_irradiance', 'wind_speed',
       'solar_power_output'],
      dtype='str')

In [12]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   temperature         500 non-null    float64
 1   humidity            500 non-null    float64
 2   solar_irradiance    500 non-null    float64
 3   wind_speed          500 non-null    float64
 4   solar_power_output  500 non-null    float64
dtypes: float64(5)
memory usage: 19.7 KB

In [13]:
df.describe()

,temperature,humidity,solar_irradiance,wind_speed,solar_power_output
count,500.000000,500.000000,500.000000,500.000000,500.000000
mean,22.464043,58.556112,565.802310,4.964765,283.301253
std,7.467210,22.839477,267.473640,2.870099,133.838575
min,10.126540,20.370562,104.445983,0.032183,46.829566
25%,16.031992,38.327940,317.105244,2.410743,158.413539
50%,22.829094,57.745725,585.764502,5.088913,290.503421
75%,28.903122,78.106946,799.609382,7.373763,401.997674
max,34.824120,99.977414,999.472353,9.983475,502.223359

In [16]:
df["temperature"]

0      19.363503
1      33.767858
2      28.299849
3      24.966462
4      13.900466
         ...
495    18.833806
496    24.591403
497    11.943366
498    34.359870
499    34.655269
Name: temperature, Length: 500, dtype: float64

In [17]:
df[["humidity","wind_speed"]]

      humidity  wind_speed
0    75.852937    5.190818
1    62.887709    4.791819
2    44.762209    0.256421
3    85.103602    3.412478
4    74.778494    3.801956
..         ...         ...
495  27.326566    6.569552
496  93.385086    9.566146
497  30.945490    0.689580
498  96.018988    0.570547
499  55.680462    2.821871

[500 rows x 2 columns]

In [18]:
df.iloc[0:5]

   temperature   humidity  solar_irradiance  wind_speed  solar_power_output
0    19.363503  75.852937        266.619636    5.190818          128.101772
1    33.767858  62.887709        587.710853    4.791819          290.911789
2    28.299849  44.762209        885.651252    0.256421          442.336390
3    24.966462  85.103602        759.002398    3.412478          380.261988
4    13.900466  74.778494        825.905033    3.801956          415.931953

In [19]:
df.iloc[0:5,0:5]

   temperature   humidity  solar_irradiance  wind_speed  solar_power_output
0    19.363503  75.852937        266.619636    5.190818          128.101772
1    33.767858  62.887709        587.710853    4.791819          290.911789
2    28.299849  44.762209        885.651252    0.256421          442.336390
3    24.966462  85.103602        759.002398    3.412478          380.261988
4    13.900466  74.778494        825.905033    3.801956          415.931953

In [20]:
df.isnull()

     temperature  humidity  solar_irradiance  wind_speed  solar_power_output
0          False     False             False       False               False
1          False     False             False       False               False
2          False     False             False       False               False
3          False     False             False       False               False
4          False     False             False       False               False
..           ...       ...               ...         ...                 ...
495        False     False             False       False               False
496        False     False             False       False               False
497        False     False             False       False               False
498        False     False             False       False               False
499        False     False             False       False               False

[500 rows x 5 columns]

In [21]:
from sklearn import preprocessing

In [22]:
df.head()

   temperature   humidity  solar_irradiance  wind_speed  solar_power_output
0    19.363503  75.852937        266.619636    5.190818          128.101772
1    33.767858  62.887709        587.710853    4.791819          290.911789
2    28.299849  44.762209        885.651252    0.256421          442.336390
3    24.966462  85.103602        759.002398    3.412478          380.261988
4    13.900466  74.778494        825.905033    3.801956          415.931953

In [23]:
min_max_scaler=preprocessing.MinMaxScaler()

In [24]:
x=df.iloc[:,:4]

In [25]:
print(x.dtypes)

temperature         float64
humidity            float64
solar_irradiance    float64
wind_speed          float64
dtype: object

In [26]:
x = pd.get_dummies(x, drop_first=True)
x_scaled = min_max_scaler.fit_transform(x)

In [27]:
df_normalized=pd.DataFrame(x_scaled)

In [28]:
df_normalized

            0         1         2         3
0    0.374003  0.696955  0.181194  0.518388
1    0.957232  0.534089  0.539945  0.478293
2    0.735834  0.306401  0.872829  0.022534
3    0.600865  0.813159  0.731326  0.339684
4    0.152806  0.683458  0.806076  0.378823
..        ...       ...       ...       ...
495  0.352555  0.087379  0.666959  0.656937
496  0.585679  0.917189  0.617965  0.958063
497  0.073563  0.132839  0.461102  0.066062
498  0.981203  0.950275  0.376929  0.054100
499  0.993163  0.443554  0.863164  0.280334

[500 rows x 4 columns]

In [29]:
df['temperature'].unique()

array([19.36350297, 33.76785766, 28.29984855, 24.9664621 , 13.90046601,
       13.89986301, 11.4520903 , 31.65440364, 25.02787529, 27.70181444,
       10.51461236, 34.2477463 , 30.81106602, 15.30847777, 14.54562418,
       14.58511275, 17.60605607, 23.11891079, 20.79862547, 17.2807285 ,
       25.29632237, 13.48734652, 17.30361621, 19.15904608, 21.40174961,
       29.62939903, 14.99184455, 22.85586096, 24.81036422, 11.16126032,
       25.1886213 , 14.26310309, 11.62628982, 33.72213843, 34.14080083,
       30.2099337 , 17.61534423, 12.44180285, 27.10582566, 21.00381234,
       13.05095587, 22.37942275, 10.85971303, 32.73301005, 16.46949954,
       26.56305711, 17.7927769 , 23.00170053, 23.66775698, 14.62136139,
       34.23961569, 29.37832058, 33.48747354, 32.37068376, 24.94749947,
       33.04685588, 12.21231255, 14.89957156, 11.13068222, 18.13325827,
       19.71693224, 16.78372579, 30.71843773, 18.91883317, 17.02336274,
       23.56740208, 13.52310562, 30.05492452, 11.86376609, 34.67217342,
       29.30611923, 14.96789204, 10.13805293, 30.38653571, 27.6714336 ,
       28.2251792 , 29.28175867, 11.85111629, 18.96164321, 12.89672649,
       31.57758565, 25.58245317, 18.27245062, 11.58895876, 17.77455804,
       18.12958305, 28.24015446, 25.93893678, 32.18031856, 21.80537313,
       12.98985615, 27.83111968, 29.01962622, 24.03192994, 29.2741795 ,
       22.34488991, 23.06832073, 20.68852546, 10.63547817, 12.69728567,
       10.78572964, 25.91026028, 17.85889953, 22.71426728, 32.68916185,
       16.23230573, 20.25957308, 28.88877846, 15.71995414, 11.92449775,
       17.24378632, 14.03053218, 33.24244131, 30.20300949, 25.83509391,
       31.78651475, 30.09180192, 14.66425147, 32.31397496, 23.48355605,
       30.18600388, 32.4022825 , 17.95008687, 12.75129811, 15.69837906,
       20.67769472, 30.45036915, 31.51826458, 10.17380326, 22.76868256,
       20.43527508, 15.55269526, 12.99663418, 18.44037929, 33.5727426 ,
       18.0800733 , 22.96976554, 27.57547397, 19.09074006, 34.29455207,
       34.06118237, 16.2945574 , 22.43121265, 17.52195775, 17.12101236,
       10.92217368, 25.23910835, 22.56697558, 11.28696878, 16.96616161,
       32.70664715, 15.98904727, 13.6223718 , 22.23631901, 34.64126135,
       16.05138179, 26.80338869, 29.04049038, 15.9409386 , 28.20540872,
       19.19457832, 25.80764576, 25.83824277, 23.3943671 , 12.25724425,
       30.88256239, 18.01950162, 14.66296276, 11.01937854, 24.77232358,
       26.93910905, 10.41469572, 22.80232646, 15.66239438, 26.12931976,
       14.35916073, 27.27344345, 19.66838366, 33.41824972, 13.4380236 ,
       18.52665878, 12.83683803, 33.11734046, 31.93348383, 16.44854069,
       26.49960115, 30.43055501, 23.88002029, 23.24126446, 16.04630727,
       12.3275692 , 32.43039395, 32.51045143, 25.82753643, 18.47574478,
       18.73023937, 28.14889197, 32.4277565 , 32.17716061, 29.49688865,
       26.05079115, 12.10349912, 14.04071785, 32.46385471, 25.16072649,
       10.22992629, 12.53678857, 26.58754423, 10.1265396 , 14.02020129,
       23.71834473, 27.29737994, 26.29903149, 15.60673274, 27.80448053,
       15.93122719, 18.13499245, 28.66228513, 26.24082248, 31.23058526,
       26.44032231, 24.20771508, 12.3418692 , 19.19289508, 16.63005919,
       16.09974108, 34.32526387, 19.82744312, 32.30116388, 25.77846565,
       29.87028259, 22.56592733, 24.42259712, 22.31294235, 14.88107469,
       28.06130288, 17.01930906, 10.60789916, 26.1368074 , 14.42776699,
       33.51146461, 33.84821443, 32.87160976, 19.25396751, 10.38641541,
       33.20796406, 20.70460371, 34.16637048, 34.09049943, 31.32523639,
       17.3612223 , 19.62744322, 31.27841679, 17.92305013, 14.23731867,
       23.92003156, 33.40386935, 27.40074492, 24.25152925, 12.42941234,
       25.37518067, 34.75134625, 13.50210038, 22.95824131, 31.9343268 ,
       28.51921544, 27.42539352, 27.5621021 , 18.98727878, 17.33979611,
       30.23402889, 30.25283487, 31.67680796, 32.83101381, 22.78355997,
       22.53790737, 29.95737947, 26.24909827, 27.54917193, 29.89481674,
       32.25013355, 18.44987892, 19.38957382, 12.3495485 , 24.45700352,
       10.89855684, 21.63995045, 23.56611587, 17.1635313 , 24.77083151,
       10.76250625, 10.93370472, 30.56501402, 19.00476604, 13.17651282,
       23.0560815 , 29.24983883, 15.39552569, 25.5722619 , 12.13368662,
       11.29204303, 23.28386579, 23.51587804, 25.93574754, 28.15228334,
       34.39630199, 22.90750871, 18.07391182, 29.87965487, 16.77080628,
       20.97428552, 11.96140953, 10.63376859, 34.06621037, 30.89950301,
       27.39935515, 20.22382361, 14.332358  , 13.91092607, 16.25607245,
       23.73066662, 27.86489807, 26.50493442, 16.99834742, 33.87163202,
       28.44742292, 23.85885131, 25.29301866, 20.49000156, 16.19327474,
       18.89931697, 28.94615276, 10.35983722, 12.90181601, 11.15006605,
       11.01822006, 31.3865146 , 27.59144648, 21.85434573, 12.44585402,
       22.29039688, 21.83679427, 14.33004675, 20.84629123, 19.96261836,
       25.39625245, 25.87734127, 11.13260024, 19.36531537, 25.64649789,
       22.57840646, 31.41224603, 26.46734079, 14.07336068, 11.76421869,
       26.06048196, 10.66278276, 24.64438953, 33.50575604, 24.38685445,
       19.70424816, 26.08220546, 21.45632226, 23.64041973, 33.53662022,
       19.65256595, 34.0297641 , 32.63376605, 14.89477837, 11.73403252,
       12.51945003, 10.45554564, 12.36107402, 27.07516934, 11.77971621,
       17.97439076, 31.12188277, 10.58179839, 30.36171206, 17.04636937,
       12.95412069, 27.41842913, 25.72357117, 31.93680034, 28.3767761 ,
       30.08702326, 17.05086431, 14.43598859, 28.76536879, 30.17086848,
       34.76262855, 20.31544192, 19.30045214, 29.41032402, 18.52008851,
       33.26893314, 31.4603188 , 20.72485068, 28.77177669, 28.86357185,
       12.57809672, 32.56382267, 22.63130931, 30.66143665, 18.00124003,
       32.38808071, 19.73004197, 10.27094129, 32.63454941, 12.28216692,
       17.98284094, 33.75154918, 33.76517867, 24.3359472 , 25.7959303 ,
       21.21113805, 17.33026929, 18.21661363, 26.8129614 , 28.80936324,
       29.78947609, 29.74045357, 12.28015258, 22.36050762, 11.438969  ,
       23.73822206, 21.03826253, 32.19260457, 18.77287531, 12.92667541,
       13.57479205, 29.03776579, 25.45545158, 12.5280669 , 12.10267015,
       27.52422829, 11.81907516, 30.54650148, 27.65605568, 12.03371952,
       12.12094285, 34.66598946, 19.35676989, 19.26605368, 30.31998918,
       33.68121443, 34.6500266 , 28.83445463, 19.40648964, 12.08751792,
       29.4286729 , 23.96010624, 20.60555023, 32.65885963, 12.77993706,
       22.31562761, 10.28384112, 21.71651605, 11.40758189, 12.97044791,
       12.93815617, 26.23025755, 28.65112198, 24.58421913, 34.05431371,
       19.37176449, 17.14280216, 31.7149782 , 15.58989596, 34.08056349,
       10.30386187, 34.24697067, 11.0789978 , 32.27857784, 23.19252773,
       34.8241199 , 11.84491412, 23.84635711, 34.23256339, 23.0774461 ,
       25.73496595, 27.39371722, 21.36352662, 25.688952  , 24.6078578 ,
       32.52895026, 11.13615951, 17.02407974, 33.7602871 , 32.2565946 ,
       21.39141882, 25.50331495, 16.93452957, 14.70302899, 21.59246012,
       18.8338057 , 24.5914028 , 11.94336592, 34.35987019, 34.65526861])

In [30]:
label_encoder=preprocessing.LabelEncoder()

In [32]:
df['temperature']=label_encoder.fit_transform(df['temperature'])

In [33]:
df['temperature'].unique()

array([194, 473, 363, 292,  90,  89,  35, 424, 293, 353,  11, 487, 412,
       114, 103, 104, 155, 258, 217, 149, 298,  84, 150, 187, 225, 387,
       113, 250, 290,  30, 295,  97,  37, 469, 482, 400, 156,  63, 338,
       220,  81, 239,  19, 453, 133, 332, 158, 254, 268, 105, 485, 383,
       463, 439, 291, 456,  54, 111,  26, 169, 203, 136, 411, 182, 141,
       266,  86, 394,  44, 496, 382, 112,   1, 405, 352, 361, 381,  43,
       183,  73, 423, 304, 172,  36, 157, 168, 362, 318, 432, 230,  79,
       355, 376, 277, 380, 237, 256, 214,  15,  69,  18, 316, 159, 246,
       451, 129, 208, 374, 121,  45, 148,  93, 459, 399, 313, 427, 396,
       107, 438, 263, 398, 441, 161,  70, 120, 213, 407, 422,   2, 247,
       210, 116,  80, 173, 467, 167, 253, 349, 186, 488, 478, 131, 240,
       154, 145,  21, 296, 243,  31, 138, 452, 124,  88, 233, 492, 126,
       334, 378, 123, 360, 189, 311, 314, 262,  55, 413, 165, 106,  24,
       289, 336,   9, 249, 119, 322, 100, 339, 201, 462,  83, 177,  72,
       457, 428, 132, 330, 406, 274, 260, 125,  58, 443, 445, 312, 175,
       178, 358, 442, 431, 386, 319,  51,  94, 444, 294,   3,  67, 333,
         0,  92, 269, 340, 327, 118, 354, 122, 170, 368, 325, 416, 328,
       278,  59, 188, 134, 127, 489, 205, 437, 309, 390, 242, 282, 235,
       109, 357, 140,  13, 323, 101, 465, 474, 455, 190,   8, 458, 215,
       483, 481, 418, 153, 199, 417, 160,  96, 275, 461, 343, 279,  62,
       299, 497,  85, 252, 429, 366, 345, 348, 184, 152, 401, 402, 425,
       454, 248, 241, 393, 326, 347, 392, 434, 174, 197,  60, 283,  20,
       228, 265, 147, 288,  17,  22, 409, 185,  82, 255, 379, 115, 303,
        53,  32, 261, 264, 317, 359, 491, 251, 166, 391, 135, 219,  47,
        14, 479, 414, 342, 207,  99,  91, 130, 270, 356, 331, 139, 475,
       365, 273, 297, 211, 128, 181, 375,   7,  74,  29,  23, 419, 350,
       232,  64, 234, 231,  98, 218, 206, 300, 315,  27, 195, 305, 244,
       420, 329,  95,  39, 320,  16, 287, 464, 281, 202, 321, 226, 267,
       466, 200, 476, 448, 110,  38,  65,  10,  61, 337,  40, 162, 415,
        12, 404, 143,  77, 344, 307, 430, 364, 395, 144, 102, 369, 397,
       498, 209, 192, 384, 176, 460, 421, 216, 370, 373,  68, 447, 245,
       410, 164, 440, 204,   4, 449,  57, 163, 470, 472, 280, 310, 222,
       151, 171, 335, 371, 389, 388,  56, 238,  34, 271, 221, 433, 179,
        75,  87, 377, 301,  66,  50, 346,  41, 408, 351,  48,  52, 495,
       193, 191, 403, 468, 493, 372, 198,  49, 385, 276, 212, 450,  71,
       236,   5, 229,  33,  78,  76, 324, 367, 284, 477, 196, 146, 426,
       117, 480,   6, 486,  25, 436, 259, 499,  42, 272, 484, 257, 308,
       341, 223, 306, 286, 446,  28, 142, 471, 435, 224, 302, 137, 108,
       227, 180, 285,  46, 490, 494])